{% extends "maindatabase/base.html" %}

{% block title %}
  <title>Database for Covid-19 Vaccination</title>
{% endblock title %}

{% block body %}
  
{% load static %}
<div class="center">
  <!-- <img src="{% static 'maindatabase/mainpage.jpg' %}" width="300" height="300" > -->
</div>


<div class="container">
    <p  style="font-size:35px;text-align: center;font-weight:bold">Total Records Available:{{Total}}</p>  </div>
    
    <div class="container">
    <p  style="font-size:35px; color:rgb(40, 104, 4);text-align: center;font-weight: bold;">Number of People Vaccinated:{{Vaccinated}}</p> </div>

    <div class="container">
        <p  style="font-size:35px; color:red;text-align: center;font-weight: bold;">Number of People to be Vaccinated:{{TobeVaccinated}}</p> </div>
    
{% endblock body %}