{% extends "maindatabase/base.html" %}

{% block title %}
  <title>Database for Covid-19 Vaccination</title>
{% endblock title %}

{% block body %}
  
{% load static %}
<img src="{% static 'maindatabase/mainpage.jpg' %}" width="500" height="500" align="left">

<div class="container">
    <p class="typewriter-text" style="font-size:35px;">Total Records Available:{{Total}}</p>  </div>
    
    <div class="container">
    <p class="typewriter-text" style="font-size:35px; color:rgb(40, 104, 4)">Number of People Vaccinated:{{Vaccinated}}</p> </div>

    <div class="container">
        <p class="typewriter-text" style="font-size:35px; color:red">Number of People to be Vaccinated:{{TobeVaccinated}}</p> </div>
    
{% endblock body %}