{% extends "maindatabase/base.html" %}

{% block title %}
  <title>Available Data</title>
{% endblock title %}

{% block body %}
  <body>
    <div class="typewriter">
        <div class="typewriter-text" >Table Wise Distribution of Population with Vaccination Status</div>
      </div>
    
      <div class="typewriter">
        <div class="typewriter-text" style="font-size:20px" >Latest Data was fetched at: {{time}} UTC</div>
      </div>
    
      

    <table class="table table-dark table-striped" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col" >Name</th>
            <th scope="col">Aadhar Number</th>
            <th scope="col">Area</th>
            <th scope="col">Zone</th>
            <th scope="col">Age</th>
            <th scope="col">Occupation</th>
            <th scope="col">Is at Risk?</th>
            <th scope="col">Is Vaccinated?</th>
            <th scope="col">Date of Vaccination</th>                
          </tr>
        </thead>
        <tbody>
          
  {% for elem in Database %}
       
   
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{elem.name}}</td>
                <td>{{elem.aadhar_number}}</td>
                <td>{{elem.area}}</td>
                <td>{{elem.zone}}</td>
                <td>{{elem.age}}</td>
                <td>{{elem.occupation}}</td>
                <td>{{elem.isatRisk}}</td>
                <td>{{elem.isVaccinated}}</td>
                <td>{{elem.dateofvaccination}}</td>
              </tr>

      {% endfor %} 
             
        
        </tbody>
      </table>

      <table class="table table-dark table-striped" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col" >Name</th>
            <th scope="col">Aadhar Number</th>
            <th scope="col">Age</th>
            <th scope="col">Description</th>
            <th scope="col">FeverReported?</th>
            <th scope="col">PainSeverity</th>
            <th scope="col">AnyAllergies</th>                
          </tr>
        </thead>
        <tbody>
          
  {% for elem in Database1 %}
       
   
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{elem.name}}</td>
                <td>{{elem.aadhar_number}}</td>
                <td>{{elem.age}}</td>
                <td>{{elem.description}}</td>
                <td>{{elem.Fever}}</td>
                <td>{{elem.Pain_Severity}}</td>
                <td>{{elem.Any_allergies}}</td>
              </tr>

      {% endfor %} 
             
        
        </tbody>
      </table>
      <table class="table table-dark table-striped" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col">Dateoftransportation</th>
            <th scope="col">VaccineDispatched</th>
            <th scope="col" >UsableVaccine</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
            <th scope="col">TrafficDensity</th>        
          </tr>
        </thead>
        <tbody>
          
  {% for elem in Database2 %}
       
   
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{elem.date_time}}</td>
                <td>{{elem.No_vaccine_dispatched}}</td>
                <td>{{elem.No_usable_vaccine}}</td>
                <td>{{elem.Temperature}}</td>
                <td>{{elem.Humidity}}</td>
                <td>{{elem.traffic_density}}</td>
              </tr>

      {% endfor %} 

        
        </tbody>
      </table>
      <br>

  </body>
{% endblock body %}